* {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 1em auto;
}

.img-container {
  width: 200px;
  height: 200px;
}

img {
  width: 100%;
  height: 100%;
}

.tab-name {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a b c d";
}

.tab-items {
  width: 200px;
  text-align: center;
  font-size: 1.4em;
  vertical-align: middle;
}

.tab-items-photo-container, .tab-content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a b c d" "e f g h";
  overflow-x: scroll;
  grid-auto-flow: column;
  grid-gap: 10px;
  padding: 1.5em 20px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.tab-items-photo-container::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
}

/** Start: to style navigation tab **/
.nav {
  margin-bottom: 18px;
  margin-left: 0;
  list-style: none;
  padding: 0;
}

.nav > li > a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #9F9B9A !important;
  text-align: center;
}

.nav-tabs > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 0;
      grid-template-areas: "a b c d";
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border-bottom: 4px solid #b4b0af;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #F68450 !important;
  cursor: default;
  background-color: #ffffff;
  border-color: #F68450;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

li {
  line-height: 18px;
}

.tab-content.active {
  display: -ms-grid;
  display: grid;
}

.tab-content.hide {
  display: none;
}

#business {
      grid-template-areas: "a b c d";
}

img:hover {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 100;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  overflow: visible;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

@media screen and (max-width: 600px) {
  .nav-tabs {
        grid-template-areas: "a b " "c d";
  }
  .nav-tabs li {
    margin-top: 0.5em;
  }
  .nav-tabs li a {
    white-space: normal;
  }
}