@charset 'UTF-8';

/* Slider */
.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
    font-family: "slick";
    font-weight:normal;
    font-style: normal;

    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
        url("./fonts/slick.woff") format("woff"),
        url("./fonts/slick.ttf") format("truetype"),
        url("./fonts/slick.svg#slick") format("svg");
}

/* Arrows */
.container-slider-bs .slick-prev,
.container-slider-bs .slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;

    display: block;

    top: 5px;

    width: 60px;
    height: 60px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.container-slider-bs .slick-prev:hover,
.container-slider-bs .slick-prev:focus,
.container-slider-bs .slick-next:hover,
.container-slider-bs .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.container-slider-bs .slick-prev:hover:before,
.container-slider-bs .slick-prev:focus:before,
.container-slider-bs .slick-next:hover:before,
.container-slider-bs .slick-next:focus:before {
    opacity: 1;
}

.container-slider-bs .slick-prev.slick-disabled:before,
.container-slider-bs .slick-next.slick-disabled:before {
    opacity: 0.25;
}

.container-slider-bs .slick-prev:before,
.container-slider-bs .slick-next:before {
    font-family: "slick";
    font-size: 50px;

    line-height: 1;

    opacity: 1;
    color: #f68450;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-slider-bs .slick-prev {
    right: 100px;
    z-index: 3;
    left: unset;
}

.container-slider-bs .slick-prev:before {
    content: "←";

}

.container-slider-bs .slick-next {
    right: 30px;
}

.container-slider-bs .slick-next:before {
    content: "→";
}

/* Dots */
.container-slider-bs .slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.container-slider-bs .slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.container-slider-bs .slick-dots li {
    position: relative;

    display: inline-block;

    width: 30px;
    height: 30px;
    margin: 0 0px;
    padding: 0;

    cursor: pointer;
}

.container-slider-bs .slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 3px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    transition: all ease 0.3s;
}

.container-slider-bs .slick-dots li button:hover,
.container-slider-bs .slick-dots li button:focus {
    outline: none;
}

.container-slider-bs .slick-dots li button:hover:before,
.container-slider-bs .slick-dots li button:focus:before {
    opacity: 1;
}

.container-slider-bs .slick-dots li button:before {
    font-family: "slick";
    font-size: 15px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: "•";
    text-align: center;

    opacity: 0.25;
    color: #91ce91;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-slider-bs .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #91ce91;
}

/* container */

.slide-bs img{
    width: 300px!important;
    margin: 0 auto;
}
.container-slider-bs{
    max-width: 1200px;
    margin: 0 auto;
    overflow: visible;
}
.text-container-slider{
    max-width: 760px;
}